In [1]:
import pandas as pd

In [2]:
# Write a Function to Filter Rows in a DataFrame Based on Conditions

#importing library
import pandas as pd

#sample data
data = {
    "sales":[500,1200,1500,2500],
    "region":["West", "East", "North", "South"]
}

df = pd.DataFrame(data)

avg_sales = df.groupby("region")["sales"].mean().reset_index()

In [ ]:
avg_sales

  region   sales
0   East  1200.0
1  North  1500.0
2  South  2500.0
3   West   500.0